header
	.container
		.navbar
			+pad(null 0)
			.navbar-brand
				img
					transition: .5s all ease-in-out
					max-width: 5rem
			#fullStackMenu
				.navbar-nav
					.nav-item
						border-top: 1px solid #FF6B07
						.nav-link
							+fz(1rem)
							color: #000000
				.custom-search
					.lang
						+pad(0)
						+mar(0)
						border-top: 1px solid #FF6B07
						#dropdownFS
							+pad(.5rem 0)
					.search
						+pad(0)
						+mar(0)
						border-top: 1px solid #FF6B07
						+fz(1.5rem)
						// #dropdownFS
						// 	+pad(.5rem 0)
	+media-breakpoint-up(md)
		.container
			.navbar
				.navbar-brand
					img
						transition: .5s all ease-in-out
						max-width: 6rem
				#fullStackMenu
					.custom-search
						.lang
							+pad(0)
							+mar(0)
							border-top: 1px solid #FF6B07
							#dropdownFS
								+pad(.5rem 0) 
							.dropdown-menu
								.dropdown-item
									padding-left: .5rem
									span
										+pad(0 0 0 .5rem)
						.search
							+pad(0)
							+mar(0)
							border-top: 1px solid #FF6B07
							+fz(1.5rem)
							// #dropdownFS
							// 	+pad(.5rem 0)

	+media-breakpoint-up(lg)
		.container
			+pad(null 100px)
			.navbar
				#fullStackMenu
					.navbar-nav
						+mar(0)
						.nav-item
							border: none
							.nav-link
								+pad(null 1rem)
								&:hover
									color: $sun-flower
									background: #424242
									border-top-left-radius: 10px
									border-bottom-right-radius: 10px
									transition: .5s all ease-in-out
					.custom-search
						display: inline-flex
						.lang
							position: relative
							border: none
							+pad(0)
							+mar(0 1rem 0 2rem)
							#dropdownFS
								margin-left: 4rem
								&:after
									display: none
								.nav-link
									&:hover
										background: #8080802e
								img
									width: 1.3rem
									height: 1.3rem
									border-radius: 50%
							.dropdown-menu
								+pos(abs, 50px null null 0)
								max-width: 800px
								max-height: 500px
								.dropdown-item
									span
										margin-left: .5rem
						.search
							border: none
							+mar(0 0 0 .5rem)
							+pad(0)
							display: flex
							justify-content: center
							align-items: center
							.search-item
								.icon-search
									i
										+fz(1.5rem)
										color: gray
						



	

