extends _layout/layout

block variables
	- var title = 'News'
	- var description = 'Description for news page'
	- var bodyclass = 'news'

block body
	//- Phần banner
	section.news-banner
		article.banner
			.title
				.container
					.row
						.col
							h1.mt-4 About Page

