extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	section.news-banner
		article.banner
			.title
				.container
					.row
						.col
							h1.mt-4 About Page

